body {
  margin: 0;
}

h1{
    width: 100%;
}

#img-div{
    display: flex;
    width: 100%
}
#model-div{
    display: flex;
    width: 100%;
}

.result-div{
    width: 33%;
}
#div1{
    margin-left: 50px;
}